<h1>一覧ページ</h1>

▶<%= link_to "新規投稿へ", new_tokyo_path %>


<% @tokyos.each do |t| %>
    <div class="tokyos-container">
        <div class="column">
            <h3>氏名</h3>
            <p><%= t.name %></p>
        </div>
        <div class="column">
            <h3>所属unit</h3>
            <p><%= t.unit %></p>
        </div>
        <div class="column">
            <h3>コース</h3>
            <p><%= t.course %>
        </div>
        <div class="column">
            <h3>受講期</h3>
            <p><%= t.lecture %>期</p>
        </div>
        <div class="column">
            <h3>担当メンター</h3>
            <p><%= t.mentor %></p>
        </div>
        <div class="column">
            <%= link_to "詳細へ", tokyo_path(t.id) %> 
            <br>
            <% if user_signed_in? %>
                <% if current_user.already_liked?(t) %>
                    <%= link_to tokyo_like_path(id: t.id, tokyo_id: t.id), method: :delete do %>
                        💖<%= t.likes.count %>
                    <% end %>
                <% else %>
                    <%= link_to tokyo_likes_path(id: t.id, tokyo_id: t.id), method: :post do %>
                        💖<%= t.likes.count %>
                    <% end %>
                <% end %>
            <% else %>
                💖<%= t.likes.count %>
            <% end %>
        </div>
    </div>
<% end %>