<!DOCTYPE html>
<html>
  <head>
    <title>Tokyoerror</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>GeekSalon Tokyo</h1>
      <div class= "user">
        <%= link_to "ログイン", tokyos_path %>
        <%= link_to "新規登録", new_user_registration_path %>
      </div>
      </header>
    <%= yield %>
  </body>
</html>
